h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.line-form{
    border-top: solid 1px rgba(255, 255, 255, 0.425) !important;
    margin-top: 50px !important;
    margin-bottom: 50px;
}

.form-squad{
    margin-top: 150px !important;
}

li{
    list-style: none !important;
}

.attributes{
    background-color: rgba(8, 3, 17, 0.204);
    border: solid 1px transparent;
    border-radius: 5px;
}

.MuiOutlinedInput-notchedOutline{
    border-color: #9b0181 !important;
    color: #fff !important;
}

.form-label{
    color: rgba(255, 255, 255, 0.425) !important;
}

.MuiSvgIcon-root{
    color: #fff !important;
}

.css-zun73v.Mui-checked, .css-zun73v.MuiCheckbox-indeterminate{
    color: #9b0181 !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:last-of-type{
    border-bottom: none !important;
}

.attributes-label{
    color: #fff !important;
}

input{
    color: #fff !important;
}

input:-internal-autofill-selected {
    appearance: none !important;
    background-image: none;
    background-color: #020202 !important;
    color: #fff !important;
}


label{
    color: #fff !important;
}

.form-label{
    display: flex !important;
    justify-content: center !important;
}

#outlined-select-currency{
    color: #fff !important;
}

.MuiSelect-icon{
    fill: #fff !important;
}