.main-grid{
    display: flex !important;
    align-items: center !important;
}

.home-title{
    font-family: 'Inter', sans-serif;
    font-style: italic !important;
    font-size: 50px !important;
    margin-bottom: 0 !important;
}

.home-subtitle{
    font-family: 'Inter', sans-serif !important;
    font-weight:normal !important;
    font-size: 30px !important;
    margin-top: 50px !important;
}

.btn-home{
    text-decoration: none !important;
    color: #9b0181 !important;
    font-size: 15px !important;
    border: #9b0181 solid 1px !important;
    padding: 6px !important;
    margin-right: 15px !important;
    margin-top: 10px !important;
}

.btn-link-home{
    text-decoration: none !important;
    color: #9b0181 !important;
}

.manechego-badge{
    position: relative;
    bottom: 1px;
    right: 880px;
    z-index: 0;
    opacity: 20%;
}

.home-secondary-title{
    font-size: 35px !important;
    margin-top: 150px !important;
}

.home-btn-container{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}