.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected{
    color: #9b0181 !important;
}

.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root{
    color: #fff !important;
}

.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected{
    color: #9b0181 !important;
}

.playerinfo-container{
    color: rgba(255, 255, 255, 0.425) !important;
    margin-top: 32px !important;
}

.css-8sq55c-MuiGrid-root{
    margin-top: 0 !important;
}

li{
    color: #fff !important;
}

.playerName-h1{
    margin: -5px 0 !important;
}

.playerPos-h3{
    margin: 0 5px !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
    color: #9b0181 !important;
}

.social-link{
    text-decoration: none !important;
    color: #9b0181 !important;
}

.p-inc{
    color: #fff !important;
}

.li-inc{
    list-style: circle !important;
    margin-top: 15px !important;
}

.sd-contract{
    display: flex !important;
    justify-content: center !important;
}